

/* common code of css  */
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
@font-face {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    src: url(../fonts/segoe-ui-4-cufonfonts/Segoe_UI.ttf);
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0px;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 84%;
    margin: 0px auto;
}
.d-flex{
    display: flex;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-between{
    justify-content:space-between ;
}
.align-items{
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.w-25{width: 25%;}
.w-50{width: 50%;}
.w-75{width: 75%;}
.w-100{width: 100%;}
/* common code of css  */
/* header section started  */
.header-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-size: cover;
    padding: 30px 15px;
}
nav ul li{
    padding-right: 15px;
    margin-left: 10px;
}
h1 a{
    color: #FFFFFF;
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 500;
}
h1 a i{
    color: #30c39e;
}
.header-section ul li a{
    color: #FFFFFF;
    font-size: 15px;
    transition: 0.3s;
}
.header-section ul li a:hover{
    color: #30c39e;
}
.active{
    color:#30c39e!important;
}
/* banner content section start  */
.banner-content{
    padding-top: 150px;
    width: 70%;
}
.banner-content h4{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.banner-content h2{
    font-size: 65px;
    padding: 10px 0px;
    letter-spacing: 3px;
    color: #30c39e;
    font-weight: 900;
}
.banner-content p{
    font-size: 16px;
    padding-top: 25px;
    line-height: 2;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.banner-content a{
    color: #FFFFFF;
    font-weight: 600;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    line-height: 8;
    padding: 11px 35px;
    transition: 0.6s;
}
.banner-content a:hover{
    color: #FFFFFF;
    border: 2px solid #2ec39e;
    background-color: #2ec39e;
}
/* banner content section end */

/* header section end */
/* about section css start  */
.about-section{
    padding: 50px 0px;
}
.about-inner{
    text-align: center;
    padding: 16px 15px;
}
.about-inner h3{
    font-size: 45px;
    color: #333;
    font-weight: 600;
    letter-spacing: 5px;
}
.divider{
    border: 2px solid #333;
    border-radius: 20px;
    margin-bottom: 80px;
    height: 3px;
    width: 10%;
    display: inline-block;
}
.about-section img{
    width: 100%;
}
.col-4{
    width: 33.33%;
    padding: 16px 15px;
}
/* .col-3{width: 25%;} */
.about-content h4{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    line-height: 35px;
}
.about-content p{
    color: #666;
    margin: 24px 0px;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 30px;
}
.about-content a{
    border: 2px solid #0a8ea0;
    padding: 11px 35px;
    display: inline-block;
    background-color: #0a8ea0;
    color: #FFFFFF;
    margin-top: 5px;
    border-radius: 4px;
    transition: .3s;
}
.about-content a:hover{
    border: 2px solid #333;
    color: #333;
    background-color: #FFFFFF;
}
.about-content h6{
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-top: 5px;
    line-height: 5px;
}
/* about section css end */

/* service section start  */
.service-section{
    padding: 50px 0px;
    color: #FFFFFF;
    background-color: #30c39e;
}
.service-inner{
    padding: 15px;
}
.service-content{
    text-align: center;
}
.service-content h2{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
}
.service-section .service-content .divider{
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 80px;
    height: 3px;
    width: 10%;
    display: inline-block;
}
.service-inner h3{
    font-size: 20px;
    font-weight: 600;
}
.fa-gears, .fa-camera, .fa-headphones-simple, .fa-soundcloud{
    font-size: 35px;
    padding-right: 10px;
}
.fa-laptop, .fa-mobile-screen-button{
    font-size: 30px;
    padding-right: 10px;
}
.service-inner p{
    font-size: 16px;
    color: #eee!important;
    margin: 16px 0px;
    line-height: 30px;
    letter-spacing: .5px;
}
/* service section end */

/* experience section css start  */
.experience-content{
    background-color: #f8f4fa;
    margin: 0px 15px;
    padding: 0px !important;
}
.experience-content span{
    color: #FFFFFF;
    background-color:#2ec39e;
    font-size: 13px;
    padding: 5px 10px;
}
.experience-blog{
    padding: 25px;
}
.experience-blog h4{
    font-size: 20px;
    letter-spacing: 1.5px;
}
/* experience section css end */
/* blog section css start  */
.blog-section{
    padding: 50px 0px;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/blog1.jpg);
}
.blog-inner{
    padding: 15px;
}
.blog-content{
    text-align: center;
    color: #FFFFFF;
}
.blog-inner-content h3{
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
    margin: 30px 10px 25px 20px;
    letter-spacing: 2px;

}
.blog-section p{
    font-size: 16px;
    font-weight: 600;
    color: #999;
    line-height: 28px;
    letter-spacing: .5px;
}
.blog-inner-content p{
    margin: 20px 10px 25px 20px;
}
.blog-content h2{
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
}
.blog-section .blog-content .divider{
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-bottom: 80px;
    height: 3px;
    width: 10%;
    display: inline-block;
}

.main-blog{
    background-color: #FFFFFF;
    padding: 32px 20px 32px 32px;
}
.main-blog h4{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.main-blog h4 span{
    background-color: #2ec39e;
    color: #FFFFFF;
    font-size: 13px;
    padding: 5px 10px;
}
.main-blog a{
    font-size: 14px;
    color: #0a8ea0;
    font-weight: 600;
    display: inline-block;
    margin-top: 15px;
    letter-spacing: 1px;
}
/* blog section css end */
/* project section css start */
.project-img{
    margin: 10px 15px ;
}
/* project section css end */
/* work/hire section css start  */
.work-section{
    padding: 50px 0px;
    background-color: #0a8ea0;
}
.work-inner{
    text-align: center;
    padding: 16px;
}
.work-inner p{
    color: #DDD;
    margin: 20px 170px;
    line-height: 28px;
    letter-spacing: .5px;
}
.work-inner h5{
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
.work-hire-button{
    line-height: 4;
    display: inline-block;
}
.work-btn{
    border: 2px solid #FFFFFF;
    color: #0a8ea0;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 11px 35px;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}
.work-btn:hover{
    border: 2px solid #333;
    color: #FFFFFF;
    background-color: #333;
}
.hire-btn{
    border: 2px solid #333;
    color: #FFFFFF;
    background-color: #333;
    border-radius: 4px;
    padding: 11px 35px;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}
.hire-btn:hover{
    border: 2px solid #FFFFFF;
    color: #0a8ea0;
    background-color: #FFFFFF;
}
/* work/hire section css end */
/* contact section css start  */


/* contact section css end */

/* footer section css start  */
.footer-section{
    padding: 50px 0px;
    background-color: #191919;
}
.footer-inner{
    text-align: center;
}
.footer-inner a i{
    color: #999;
    background:linear-gradient(rgba(173, 169, 169, 0.1), rgba(142, 139, 139, 0.1));
    text-align: center;
    height: 42px;
    border-radius: 2px;
    line-height: 3;
    margin-right: 5px;
    margin-bottom: 25px;
    width: 42px;
    font-size: 13px;
}
.footer-inner p{
    color: #999;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 28px;
}
.footer-inner p a{
    color: #999;
    transition: 0.3s;
}
.footer-inner p a:hover{
    color: #FFFFFF;
}
.footer-inner .fa-chevron-up{
    color: #FFFFFF;
    border: 1px solid rgb(84, 82, 82);
    background-color: #0b0b0b;
    border-radius:50%;
    margin-top: 20px;
    width: 32px;
    height: 32px;
    line-height: 3;
    font-size: 10px;
}
/* footer section css end */

/* media query  responsive css start*/
@media only screen and (max-width: 768px) { 
    .d-flex{
        display: block;
    }
    .col-4{
        width: 100%;
    }
    .experience-content{
        margin: 0;
    }
    .work-inner p{
        margin: 0;
    }
    .about-section .about-content .d-flex{
        display: flex;
    }
    .main-blog .d-flex{
        display: flex;
    }
    .main-blog h4 span{
        font-size: 10px;
    }
  }
/* media query  responsive css end*/